
body {
    margin: 0px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: block;
    unicode-bidi: isolate;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 90px;
    line-height: 21px;
    text-align: left;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    header .topbar {
        background: rgb(28, 91, 65);
        height: 90px;
        display: flex;
        width: auto;
        align-items: center;
    }

.product .container {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.container-header {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.container {
    width: 80%;
    display: flex;
    margin: 0 auto;
}



.col-lg-3 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    margin: auto 0;
}

.col-lg-5 {
    -ms-flex: 0 0 31.666667%;
    flex: 0 0 31.666667%;
    max-width: 31.666667%;
    margin: auto 0;
}

header .topbar .search {
    border-radius: 40px;
    background: #fff;
    position: relative;
    line-height: 42px;
    height: 44px;
    padding-left: 20px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}


header .topbar .header_search input {
    width: 80%;
    border: none;
    height: 44px;
    padding: 0 44px 0 0px;
    outline: none;
}

header .topbar .header_search .input-group-btn {
    position: absolute;
    right: 0;
    padding: 0px;
    width: 42px;
    border: none;
    height: 42px;
}

    header .topbar .header_search .input-group-btn button {
        border: none;
        height: 44px;
        width: 60px;
        padding: 0px;
        border-radius: 0 40px 40px 0;
        background: #fe9614;
    }

svg {
    width: 20px;
    height: 20px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

header .topbar .account-header .account {
    max-width: 60%;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
}

header .topbar .account-header {
    color: #ccc;
    text-align: right;
    line-height: 44px;
}

.col-lg-4 {
    -ms-flex: 0 0 38.333333%;
    flex: 0 0 38.333333%;
    max-width: 38.333333%;
    margin: auto 0;
}


header .topbar .account-header svg {
    transform: translateY(5px);
    width: 24px;
    height: 24px;
}

header .topbar .account-header .list-unstyled {
    margin-left: 20px;
    display: inline-block;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.header-menu .header-nav > ul.item_big > li.nav-item > a {
    display: block;
    text-align: left;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1c5b41;
}


header .topbar .account-header .account a {
    color: #fff;
}

header .topbar span, header .topbar a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

a {
    color: #231f20;
    text-decoration: none;
    background-color: transparent;
}

.col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.header-menu {
    background: #FFFAF0;
}

    .header-menu .header-nav {
        line-height: 60px;
    }

        .header-menu .header-nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .header-menu .header-nav > ul.item_big > li.nav-item:first-child {
            padding-left: 0;
        }

        .header-menu .header-nav > ul.item_big > li.nav-item {
            display: inline-block;
            position: relative;
            padding-right: 30px;
        }

    .header-menu .col-search-cart {
        text-align: right;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #1c5b41;
    }

        .header-menu .col-search-cart .ct-header {
            line-height: 60px;
        }

            .header-menu .col-search-cart .ct-header svg {
                margin-right: 5px;
            }

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.img-responsive {
    vertical-align: middle;
    border-style: none;
    max-width: 80%;
    margin: 0 auto;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.product-image img {
    vertical-align: middle;
    border-style: none;
    width: 80%;
    margin-top: 0;
    margin-left: 0;
    height: 80%;
}

.section-slider {
    display: flex;
    width: 100%;
    height: auto;
    background-color: darkgray;
}

.section_service {
    background: #fe9614;
    text-align: center;
    padding: 25px 0;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 25%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.section_service .image {
    margin-bottom: 12px;
    height: 46px;
    display: block;
}

.section-product {
    width: 100%;
    height: auto;
    background: #f0f0f0;
}

    .section-product:nth-of-type(4) {
        background: #1c5b41;
    }

        .section-product:nth-of-type(4) .item-name {
            color: white;
        }

.block-title {
    width: 100%;
    height: 10%;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 80%;
}

.product-banner {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 30px;
}

.product .product-banner {
    max-width: 100%;
}

.container .category {
    display: block;
    background: #fff;
    margin-bottom: 30px;
    flex: 0 0 20%;
    width: 20%;
    min-height: auto;
}

.header-category {
    width: 20%;
    border-bottom: 1px solid #333333;
}

.container h3 {
    margin-left: 10px;
}

.hidden {
    display: none !important;
}

.container .category .product-link h2 {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 400;
    line-height: 24px;
}

    .container .category .product-link h2:hover {
        color: red;
        margin-left: 10px;
    }

.selected {
    color: red !important;
}

.container .product {
    display: block;
    margin-top: 0px;
    margin-bottom: 30px;
    flex: 0 0 80%;
    width: 80%;
}

.product .list-product .product-link {
    width: 23%;
}

.product-container .list-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 30px;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}

    .product-container .list-product .product-link {
        width: 30%;
        padding-bottom: 0px;
        border-radius: 10px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

.list-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 80%;
}

.button-product {
    width: 100%;
    height: 80px;
}

.bt:hover {
    background: red;
}

.row-button {
    width: 20%;
    height: 100%;
    margin: 0 auto;
}

.button-product input {
    background: #1c5b41;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: #1c5b41;
    margin: 0 auto;
}

.block-title h2 {
    font-weight: 700;
    letter-spacing: 0;
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.box-shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section-product .block-title h2 span {
    color: #1c5b41;
}

.section-product:nth-of-type(4) .block-title h2 span {
    color: white;
}

.row-product {
    display: block;
    width: 100%;
    border-top: 2px solid red;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-link {
    width: 18%;
    padding-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.background {
    background: #fff;
}

.product-item {
    padding: 10px;
    border-radius: 10px;
}

    .product-item:hover {
        transform: translateY(-5px); /* Nâng thẻ lên */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm đổ bóng để tạo hiệu ứng nổi */
    }

.item-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.item-name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #454545;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    line-height: 20px;
}

.item-price {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fe9614;
}

.footer {
    background: #000000;
}

.mid-footer {
    padding: 30px 0;
}

.logo {
    display: flex;
}

.text-logo-a2 {
    font-weight: 450;
    font-size: 48px;
    line-height: 20px;
    font-family: 'Lobster', cursive;
    color: #FE9614;
    margin: auto 0;
}

.text-logo-a1 {
    font-weight: 450;
    font-size: 48px;
    line-height: 20px;
    font-family: 'Lobster', cursive;
    color: #fff;
    margin: auto 0;
}

.text-logo {
    font-weight: 400;
    font-size: 30px;
    line-height: 14px;
    font-family: 'Lobster', cursive;
    color: #FE9614;
    margin-top: 15px;
}

.footer .mid-footer .text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FE9614;
    margin-top: 5px;
}

.item {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #fe9614;
    margin-top: 15px;
}

.text-slogan {
    font-weight: 350;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fe9614;
}

.product {
    display: block;
    background: #f0f0f0;
}

.page {
    width: auto;
    display: flex;
    height: 10%;
    margin: 20px auto;
}

.page-arena {
    padding: 0 2px;
}

.page-number {
    background-color: #fff;
    border-color: #fff;
    background: #fff;
    color: #333333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    float: left;
    margin: 0 2.5px;
    width: 35px;
    text-align: center;
    height: 35px;
    font-size: 14px;
    padding: 0;
    line-height: 20px;
    text-decoration: none;
}

    .page-number:hover {
        background-color: #fe9614;
    }

.selected-page {
    color: #fff;
    background-color: #fe9614;
}

.section-login-signup {
    width: 100%;
    height: 100%;
    background: #F0F0F0;
}

.row-login-signup {
    margin: 50px auto;
    box-shadow: 0px 1px 69.16px 6.84px rgba(20, 64, 51, 0.05);
    border-radius: 10px;
    position: relative;
    background: #fff;
}

.wpx {
    padding: 30px;
}

.title_heads {
    font-size: 26px !important;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 0;
    color: #333333;
    line-height: 22px;
    margin-bottom: 27px;
}

.a-center {
    text-align: center;
}

.row-login-signup a {
    color: #1c5b41;
}

.form-login {
    margin-top: 20px;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.form-group input {
    height: 45px;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
    box-sizing: border-box;
}


.pull-xs-left input {
    color: #fff;
    background: #1c5b41;
    border: solid 1px #333;
    font-size: 16px;
    line-height: 42px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
}

.pull-xs-left .quenmk {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin: 15px 0;
}

.block {
    display: block;
}

.price-box {
    margin-bottom: 20px;
    position: relative;
}

    .price-box .special-price {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        text-transform: uppercase;
        color: #FF6563;
    }

.service {
    display: flex;
    margin-bottom: 40px;
}

    .service a {
        display: inline-block;
        padding-right: 25px;
        margin: auto 0;
        transform: translateY(10px);
    }

    .service .title_text {
        display: inline-block;
        margin-top: 10px;
        width: calc(100% - 80px);
    }

.custom-btn-number {
    width: 100%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.custom-btn-numbers {
    position: relative;
    width: 165px;
    display: flex;
}

    .custom-btn-numbers button.btn-minus {
        bottom: 0;
        top: auto;
        border-radius: 5px 0 0 5px;
    }

    .custom-btn-numbers button {
        width: 50px;
        height: 50px;
        border: thin solid #ebebeb;
        background-color: #fff;
        font-size: 14px;
        color: #ee4f83;
        padding: 0;
        font-weight: 400;
        float: left;
        border-radius: 0;
        line-height: 50px;
        position: relative;
        z-index: 1;
        right: 0;
        border-radius: 0 5px 5px 0px;
        top: 0;
    }

    .custom-btn-numbers input {
        float: left;
        width: 80px;
        height: 50px;
        border: solid thin #ebebeb;
        border-right: none;
        border-radius: 0;
        color: #333f48;
        padding: 0;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        min-height: unset;
        margin: 0;
        border-left: none;
    }

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn-mua button {
    background: #1c5b41;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: #1c5b41;
    margin-top: 15px;
}

.button_actions button {
    background: #fff;
    color: #1c5b41;
    border: 1px solid #1c5b41;
}

.product-image {
    flex: 0 0 50%;
    width: 50%;
}

.product .product-detail {
    width: 100%;
}

.product-detail {
    flex: 0 0 25%;
    width: 25%;
}



.bread-crumb {
    border-left: 1px solid #f0f0f0;
    background: #f0f0f0;
    width: auto;
}

.subcategory {
    display: flex;
    width: 90%;
    height: 80px;
}

    .subcategory .prev {
        display: flex !important;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        margin-right: 0px;
    }

    .subcategory .next {
        display: flex !important;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

#subcategory-content {
    display: inline-flex;
    padding: 20px 0px;
    margin-right: 0px;
    width: auto;
}

    #subcategory-content div {
        margin-left: 10px;
        padding: 5px 10px;
        width: auto;
        height: 30px;
        border-radius: 10px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        #subcategory-content div:hover {
            background: #fe9614;
            color: #fff;
        }

.breadcrumb {
    margin: 0;
    font-size: 14px;
    padding: 20px 0px;
    border-radius: 0;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

    .breadcrumb li {
        display: inline;
    }

        .breadcrumb li > a {
            color: #333;
        }

        .breadcrumb li .mr_lr {
            padding: 0px 3px;
            color: #333;
        }

        .breadcrumb li span {
            display: inline;
            color: #333;
        }

        .breadcrumb li .mr_lr svg {
            width: 10px;
            height: 10px;
            margin-top: -2px;
        }

        .breadcrumb li a:hover, .breadcrumb li.active, .breadcrumb li strong {
            color: #fe9614;
            font-weight: 400;
            text-decoration: none;
        }

            .breadcrumb li a:hover span, .breadcrumb li.active span, .breadcrumb li strong span {
                color: #1c5b41;
                font-weight: 700;
            }

.cart-header-info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 7px 0;
    border: solid 1px #1c5b41;
    border-bottom: none;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

    .cart-header-info div:nth-child(1) {
        width: 51%;
        text-align: left;
        padding-left: 10px;
    }

    .cart-header-info div:nth-child(2) {
        width: 16%;
        text-align: center;
    }

    .cart-header-info div:nth-child(3) {
        width: 16%;
        text-align: center;
    }

    .cart-header-info div:nth-child(4) {
        width: 16%;
        text-align: center;
    }

.cart-product {
    width: 90%;
    margin: 0 auto;
    border: solid 1px #1c5b41;
}

.cart-row {
    display: flex;
    padding: 10px 0;
    height: 120px;
}

.cart-image {
    margin-left: 10px;
    width: 110px;
    height: 110px;
}

.border-none {
    border: none !important;
}

.cart-info {
    display: flex;
    margin: auto 15px;
    width: 100%;
}

    .cart-info .grid {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.cart-price {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #fe9614;
}

.cart-info-name {
    width: 46%;
}

.cart_select input {
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius: 0;
    width: 35px;
    min-height: 28px;
    border: 1px solid #e5e5e5;
    color: #222;
    height: 28px;
    font-size: 14px;
    margin: 0;
    float: left;
    border-left: none;
    border-right: none;
}

.cart_select button {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    color: #222;
    line-height: 26px;
    padding: 0;
    margin: 0;
    width: 28px;
    background-color: #fff;
    height: 28px;
    float: left;
}

.cart-footer {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

    .cart-footer .as {
        width: 60%;
    }

    .cart-footer .ajaxcart-footer {
        margin-top: 20px;
        width: 40%;
        display: block;
    }

.ajaxcart-footer-price {
    width: auto;
    margin-right: 0px;
    margin-bottom: 20px;
}

    .ajaxcart-footer-price .cart-price {
        width: auto;
        margin-right: 0px;
    }

.account-page {
    flex: 0 0 25%;
    width: 25%;
}

.block-account {
    padding: 20px;
}

    .block-account .title-account {
        font-size: 19px;
        font-weight: 400;
        color: #212B25;
        margin-bottom: 7px;
        margin-top: 0;
        text-transform: uppercase;
    }

    .block-account p {
        display: flex !important;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 28px;
        color: #212B25;
        position: relative;
    }

    .block-account ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .block-account ul .title-info {
            font-weight: 400;
            font-size: 14px;
            color: rgb(33, 37, 41);
            margin-bottom: 15px;
            display: block;
        }

    .block-account p a {
        font-weight: 400;
        font-size: 14px;
        color: rgb(33, 37, 41);
        margin-bottom: 15px;
        display: block;
    }

.account-info {
    flex: 0 0 75%;
    width: 75%;
    background: #fff;
}

.section-order {
    width: 100%;
}

    .section-order h5 {
        font-size: 19px;
        font-weight: 400;
        color: #212B25;
        margin-bottom: 7px;
        margin-top: 0;
        text-transform: uppercase;
    }

.row-section-order {
    padding: 20px;
    display: block;
}

.order-info {
    display: block;
}

.header-order-info {
    display: flex;
}

.body-order-info {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.order-item {
    width: 100%;
    display: flex;
    margin-top: 10px;
    border: 1px solid #333333;
}

    .order-item div {
        width: 20%;
        display: flex;
        text-align: center;
        margin: auto 5px;
    }

.item-img-order {
    width: 60%;
    height: 60%;
}

.header-order-info div {
    display: flex;
    background-color: #fe9614;
    width: 20%;
    color: #fff;
    padding: 5px 30px;
    border: 1px solid #fff;
    text-align: center
}

.section-change-password {
    width: 100%;
    padding: 20px;
    display: block;
}

    .section-change-password h5 {
        font-size: 19px;
        font-weight: 400;
        color: #212B25;
        margin-bottom: 7px;
        margin-top: 0;
        text-transform: uppercase;
    }

.change-password {
    margin-top: 20px;
    display: block;
    width: 40%;
}

    .change-password .form-group label {
        margin-top: 0px;
        font-size: 16px;
        font-weight: 400;
        color: #333;
    }

    .change-password .form-group input {
        height: 35px !important;
        padding: 0 20px;
        color: #333;
        line-height: 45px;
        border-color: #ebebeb;
        box-shadow: none;
        background: #ebebeb;
        margin-bottom: 15px;
        width: 100%;
        outline: none;
        border: initial;
        border-radius: 10px;
    }

    .change-password .form-group select {
        height: 35px !important;
        padding: 0 20px;
        color: #333;
        line-height: 45px;
        border-color: #ebebeb;
        box-shadow: none;
        background: #ebebeb;
        margin-bottom: 15px;
        width: 100%;
        outline: none;
        border: initial;
        border-radius: 10px;
    }

    .change-password button {
        padding: 0 15px;
        border-radius: 3px !important;
        height: 40px;
        line-height: 40px;
        background: #1c5b41;
        position: relative;
        margin-left: 0px;
        color: #fff;
        border: solid 1px transparent;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
    }

.manager-img {
    width: 50px;
    height: 50px;
    margin: 0 !important;
}

tr {
    width: 100%;
    text-align: left;
    margin-top: 10px !important;
    border: 1px solid #333333 !important;
}

th {
    width: 14%;
    margin-top: 10px !important;
    border: 1px solid #333333 !important;
    background-color: #fe9614;
    padding: 10px 0px;
    color: #fff;
}

td {
    width: 14%;
    margin-top: 20px !important;
    border-bottom: 1px solid #333333;
}

h5 {
    font-size: 19px;
    font-weight: 400;
    color: #212B25;
    margin-bottom: 7px;
    margin-top: 0;
    text-transform: uppercase;
}

.manager-product {
    padding: 20px;
}

table {
    border: 1px solid #333333;
}

.form-quenmk {
    display: none;
}

.display-block {
    display: block !important;
}

.manager-account {
    padding: 20px;
}

.manager-account-info {
    width: 100%;
    display: block;
    margin-top: 20px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.header-account-info {
    display: flex;
    background: #fe9614;
    color: #fff;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

    .header-account-info div {
        width: 20%;
        padding: 10px 0px;
    }

.body-account-info {
    display: flex;
}

    .body-account-info .account-info-item {
        width: 20%;
        height: 50px;
        display: flex;
        border-bottom: 1px solid #333333;
        padding: 10px 0px;
    }

        .body-account-info .account-info-item button {
            width: 50%;
            height: 35px;
            color: red;
            border: none;
            text-align: start;
        }

        .body-account-info .account-info-item div {
            width: 50%;
            height: 35px;
            color: red;
        }

.change-password {
    width: 40%;
    display: block;
}

.change-account {
    width: 40%;
    display: none;
}

    .change-account button {
        padding: 0 15px;
        border-radius: 3px !important;
        height: 40px;
        line-height: 40px;
        background: #1c5b41;
        position: relative;
        margin-left: 0px;
        color: #fff;
        border: solid 1px transparent;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
    }

.change-password .form-group label {
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.change-account .form-group input {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}

.change-account .form-group select {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}

.title-account-item {
    margin-bottom: 7px !important;
}

.change-product {
}

    .change-product .form-group input {
        height: 35px !important;
        padding: 0 20px;
        color: #333;
        line-height: 45px;
        border-color: #ebebeb;
        box-shadow: none;
        background: #ebebeb;
        margin-bottom: 15px;
        width: 100%;
        outline: none;
        border: initial;
        border-radius: 10px;
    }

    .change-product .form-group select {
        height: 35px !important;
        padding: 0 20px;
        color: #333;
        line-height: 45px;
        border-color: #ebebeb;
        box-shadow: none;
        background: #ebebeb;
        margin-bottom: 15px;
        width: 100%;
        outline: none;
        border: initial;
        border-radius: 10px;
    }

.change-product {
    width: 40%;
    display: none;
}

.overlay {
    display: none; /* Ẩn ban đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.change-product button {
    padding: 0 15px;
    border-radius: 3px !important;
    height: 40px;
    line-height: 40px;
    background: #1c5b41;
    position: relative;
    margin-left: 0px;
    color: #fff;
    border: solid 1px transparent;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

body.no-scroll {
    overflow: hidden; /* Không cho phép cuộn trang khi hiện form */
}

.add-product .form-group input {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}

.add-product .form-group select {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}

.add-product {
    display: none; /* Ẩn ban đầu */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.overlay {
    display: none; /* Ẩn ban đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.add-product button {
    padding: 0 15px;
    border-radius: 3px !important;
    height: 40px;
    line-height: 40px;
    background: #1c5b41;
    position: relative;
    margin-left: 0px;
    color: #fff;
    border: solid 1px transparent;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}







.section-manager {
    width: 100%;
    height: auto;
}

    .section-manager .container {
        width: 95%;
        height: auto;
    }

.menu-manager {
    flex: 0 0 15%;
    width: 15%;
    display: block;
    height: 600px;
    background: #f0f0f0;
}

.content-manager {
    flex: 0 0 85%;
    width: 85%;
    display: block;
}

.menu-item-title {
    display: flex;
    align-items: center;
    height: 40px;
    border: 2px solid #ebebeb;
}

    .menu-item-title p {
        font-weight: 700;
        margin-left: 20px;
        width: 100%;
    }

    .menu-item-title text-logo {
        display: block;
        font-size: 22px;
        background: rgb(80 159 127);
    }

    .menu-item-title svg {
        transform: translateY(-2px);
        margin-left: 10px;
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }

.logo-background {
    background: rgb(28, 91, 65) !important;
    display: block !important;
}

.title-product-manager {
    width: 100%;
    height: 45px;
    background: #f4f0bc;
    display: flex;
    align-items: center;
}

.title-account-manager {
    width: 100%;
    height: 45px;
    background: #f4f0bc;
    display: flex;
    align-items: center;
}

.title-product-manager h5 {
    font-size: 15px;
    font-weight: 700;
    margin: 0px 30px;
    color: #48c2ca;
}

.title-account-manager h5 {
    font-size: 15px;
    font-weight: 700;
    margin: 0px 30px;
    color: #48c2ca;
}

.content-product-manager {
    display: block;
    width: 95%;
    margin: 20px auto;
}

.content-account-manager {
    display: block;
    width: 95%;
    margin: 20px auto;
}

.content-product-manager .find-product {
    width: 100%;
    display: flex;
    height: 45px;
}

.content-account-manager .find-account {
    width: 100%;
    display: flex;
    height: 45px;
}

.content-product-manager .list-product-manager {
    display: block;
    height: auto;
    margin: 20px auto;
}

.content-account-manager .list-product-manager {
    display: block;
    height: auto;
    margin: 20px auto;
}

.content-product-manager .find-product select {
    width: 18%;
    display: flex;
    height: 30px;
    margin: auto 10px;
    border-radius: 5px;
}

.content-account-manager .find-account select {
    width: 18%;
    display: flex;
    height: 30px;
    margin: auto 10px;
    border-radius: 5px;
}

.content-product-manager .find-product button {
    width: 10%;
    display: flex;
    height: 30px;
    margin: auto 10px;
    border-radius: 5px;
    background: rgb(53 139 104);
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content-account-manager .find-account button {
    width: 10%;
    display: flex;
    height: 30px;
    margin: auto 10px;
    border-radius: 5px;
    background: rgb(53 139 104);
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content-account-manager .find-account input {
    width: 10%;
    display: flex;
    height: 30px;
    margin: auto 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.product-item-title button {
    width: 40%;
    display: flex;
    height: 30px;
    margin: auto 10px;
    border-radius: 5px;
    background: rgb(53 139 104);
    align-items: center;
    justify-content: center;
    color: #fff;
}

.list-product-manager .product-title {
    width: 100%;
    display: flex;
    height: 20px;
}

.list-order-manager .product-title {
    width: 100%;
    display: flex;
    height: 20px;
}

.list-product-manager .product-title .product-item-title {
    display: flex;
    height: 20px;
    text-align: center;
    padding: 10px 0px;
    align-items: center;
    border: 1px solid #f0f0f0;
    justify-content: center;
}

.list-order-manager .product-title .product-item-title {
    display: flex;
    height: 20px;
    text-align: center;
    padding: 10px 0px;
    align-items: center;
    border: 1px solid #f0f0f0;
    justify-content: center;
}

.list-product-manager .product-title .product-item-title:nth-child(1) {
    width: 36%;
}

.list-product-manager .product-title .product-item-title:nth-child(2) {
    width: 16%;
}

.list-product-manager .product-title .product-item-title:nth-child(3) {
    width: 8%;
}

.list-product-manager .product-title .product-item-title:nth-child(4) {
    width: 16%;
}

.list-product-manager .product-title .product-item-title:nth-child(5) {
    width: 16%;
}

.list-product-manager .product-title .product-item-title p {
    font-size: 13px;
    font-weight: 700;
}

.list-order-manager .product-title .product-item-title:nth-child(1) {
    width: 36%;
}

.list-order-manager .product-title .product-item-title:nth-child(2) {
    width: 16%;
}

.list-order-manager .product-title .product-item-title:nth-child(3) {
    width: 8%;
}

.list-order-manager .product-title .product-item-title:nth-child(4) {
    width: 16%;
}

.list-order-manager .product-title .product-item-title:nth-child(5) {
    width: 16%;
}

.list-product-manager .product-title .product-item-title p {
    font-size: 13px;
    font-weight: 700;
}

.list-order-manager .product-title .product-item-title p {
    font-size: 13px;
    font-weight: 700;
}

.font-weight {
    font-weight: 400 !important;
}

.color-p {
    color: #63bab3 !important;
}

.product-item-title svg {
    width: 30px !important;
    height: 30px !important;
    transform: translateY(5px) !important;
}

.change-product-manager .form-group input {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}

.change-product-manager .form-group select {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}

.change-product-manager {
    display: none; /* Ẩn ban đầu */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.sales-overview {
    display: block;
    width: 95%;
    margin: 20px auto;
}

.sales-time-selector {
    width: 300px;
    margin: 0 auto;
    display: flex;
    height: 30px;
}

    .sales-time-selector .time-period {
        width: 100px;
        display: flex;
        text-align: center;
        align-items: center;
    }

        .sales-time-selector .time-period p {
            margin: auto auto;
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 16px;
        }

.selected-sales-time {
    font-weight: 700;
    font-size: 16px;
    color: rgb(28, 91, 65);
    border-bottom: 3px solid rgb(28, 91, 65);
}

.content-sale {
    display: block;
    width: 95%;
    margin: 20px auto;
}
.chart-sale {
    display: block;
    width: 95%;
    margin: 20px auto;
}
.chart-sale .chart-sale-box{
    margin:0 auto;
    width: 80%;
    
}
.section-sale {
    width: 80%;
    background: #f0f0f0;
    padding: 10px 0px;
    margin: 10px auto;
    border: 1px solid #ebebeb;
}

.content-sale .content-sale-section {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    display: flex;
}

    .content-sale .content-sale-section .content-sale-item:nth-child(1) {
        margin: 0px 30px;
        width: 28%;
        background: #23ce6c;
        display: block;
        height: 80px;
    }

    .content-sale .content-sale-section .content-sale-item:nth-child(2) {
        margin: 0px 30px;
        width: 28%;
        background: #5eddec;
        display: block;
        height: 80px;
    }

    .content-sale .content-sale-section .content-sale-item:nth-child(3) {
        margin: 0px 30px;
        width: 28%;
        background: #ec583f;
        display: block;
        height: 80px;
    }

    .content-sale .content-sale-section .content-sale-item:nth-child(4) {
        margin: 0px 30px;
        width: 20%;
        background: #fe9614;
        display: block;
        height: 80px;
    }

    .content-sale .content-sale-section .content-sale-item label {
        margin-left: 10px;
        margin-top: 10px;
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }

.size-16 {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #fff !important;
}

.info-sale {
    width: 100% !important;
    display: flex;
    height: 200px;
    margin: 50px auto;
}

    .info-sale .info-sale-item {
        width: 50%;
        margin: auto 30px;
        height: 150px;
        display: block;
    }

        .info-sale .info-sale-item .info-sale-item-box {
            width: 80%;
            margin: 0 auto;
            height: 150px;
            border: 1px solid #58d6d5;
            display: block;
        }

        .info-sale .info-sale-item .info-sale-title-child {
            height: 30%;
            display: flex;
            align-items: center;
            background: #ebebeb;
        }

        .info-sale .info-sale-item .info-sale-title {
            height: 70%;
            display: block;
        }

            .info-sale .info-sale-item .info-sale-title p {
                font-weight: 700;
                margin-left: 10px;
                font-size: 16px;
            }

        .info-sale .info-sale-item .info-sale-title-child a {
            margin-left: 10px !important;
            font-weight: 700 !important;
            font-size: 16px !important;
        }

.info-sale-style {
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-right: 10px;
}

    .info-sale-style span {
        float: right;
    }

.order-overview {
    display: block;
    width: 95%;
    margin: 20px auto;
}

.order-status-selector {
    width: 450px;
    margin: 0 auto;
    display: flex;
    height: 30px;
}

    .order-status-selector .order-status {
        width: 150px;
        display: flex;
        text-align: center;
        align-items: center;
    }

        .order-status-selector .order-status p {
            margin: auto auto;
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 16px;
        }

.list-product-manager {
    display: block;
    height: auto;
    margin: 20px auto;
}

.section-payment {
    width: 100%;
    margin: 50px 0px;
}

    .section-payment .info-user-payment {
        flex: 0 0 30%;
        width: 30%;
        margin-right: 30px;
    }

        .section-payment .info-user-payment .info-user {
            display: block;
        }

            .section-payment .info-user-payment .info-user span {
                font-size: 20px;
                font-weight: 700;
                color: #333333;
            }

            .section-payment .info-user-payment .info-user .form-group input {
                height: 35px !important;
                padding: 0 20px;
                color: #333;
                line-height: 45px;
                border-color: #ebebeb;
                box-shadow: none;
                background: #ebebeb;
                margin-bottom: 15px;
                width: 100%;
                outline: none;
                border: initial;
                border-radius: 10px;
            }

    .section-payment .info-shipping {
        flex: 0 0 30%;
        width: 30%;
        margin-right: 30px;
    }

        .section-payment .info-shipping .form-group {
        }

            .section-payment .info-shipping .form-group .label-none {
                height: 23px;
                width: 95%;
            }

            .section-payment .info-shipping .form-group .label {
                display: flex;
                border-radius: 3px;
                align-items: center;
                font-size: 14px;
                height: 34px;
                width: 95%;
                border: 1px solid #bee5eb;
                background-color: #d1ecf1;
                padding-left: 10px;
            }

        .section-payment .info-shipping span {
            font-size: 20px;
            font-weight: 700;
            color: #333333;
        }

.selected-payment {
    width: 100%;
    height: 200px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.selected-payment-box {
    width: 90%;
    height: 90%;
    margin: auto auto;
}

.radio_input {
    display: flex;
    height: 50%;
    align-items: center;
}

.input-radio {
    width: 18px;
    height: 18px;
    -webkit-box-shadow: 0 0 0 0 #197bbd inset;
    box-shadow: 0 0 0 0 #197bbd inset;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    border: 1px solid;
}

.radio__label, .checkbox__label {
    cursor: pointer;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    margin-left: 20px;
}

.radio__label__primary {
    font-weight: 400 !important;
    font-size: 13px !important;
    cursor: inherit;
    font-family: inherit;
    vertical-align: top;
    display: table-cell;
    width: 100%;
}

.content-box {
    display: flex;
    align-items: center;
    height: 50%;
}

    .content-box p {
        font-weight: 400 !important;
        font-size: 13px !important;
    }

.info-payment {
    flex: 0 0 30%;
    width: 30%;
    margin-right: 30px;
    border: 1px solid #333333;
    height: 450px;
}

.info-payment-box {
    padding: 0px 10px;
    display: block;
    height: 100%;
}

    .info-payment-box p {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
    }

.info-payment-item {
    height: 30%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: block;
}

.item-product {
    display: flex;
    align-items: center;
    height: 100%;
}

    .item-product .payment-image {
        width: 25%;
        height: 80px;
    }

        .item-product .payment-image img {
            width: 100%;
            height: 100%;
        }

.payment-product-content {
    display: flex;
    align-items: center;
    width: 75%;
}

.info-payment-item p {
    font-size: 13px;
    font-weight: 400;
    width: 100%;
}

.info-payment-item span {
    float: right !important;
    font-size: 13px;
    font-weight: 400;
}

.price-pro-item {
    font-weight: 700 !important;
    font-size: 18px !important;
}

    .price-pro-item span {
        font-weight: 700 !important;
        font-size: 18px !important;
    }

.price-content {
    width: 100%;
}

.display-none {
    display: none !important;
}

.info-user select {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}

.info-shipping input {
    height: 35px !important;
    padding: 0 20px;
    color: #333;
    line-height: 45px;
    border-color: #ebebeb;
    box-shadow: none;
    background: #ebebeb;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: initial;
    border-radius: 10px;
}
