
@{
    ViewBag.Title = "XemSanPhamTheoDanhMuc";
}
@{ int count = 0;
    int count1 = 0;
}
<div class="list-product-manager">
    <div class="product-title">
        <div class="product-item-title">
            <p>Tên sản phẩm</p>
        </div>
        <div class="product-item-title">
            <p>Mã sản phẩm</p>
        </div>
        <div class="product-item-title">
            <p>Số lượng</p>
        </div>
        <div class="product-item-title">
            <p>Giá bán</p>
        </div>
        <div class="product-item-title">
            <button class="bt-add-product" type="submit"><i class="hoverButton"></i>Tạo mới</button>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    if (count >= 6)
    {
        break;
    }
    <div class="list-product-manager">
        <div class="product-title">
            <div class="product-item-title" style="justify-content: left; ">
                <p class="font-weight color-p" style="margin-left:10px;">@item.product_name</p>
            </div>
            <div class="product-item-title">
                <p class="font-weight">@item.product_id</p>
            </div>
            <div class="product-item-title">
                <p class="font-weight">@item.quantity</p>
            </div>
            <div class="product-item-title">
                <p class="font-weight">@item.price</p>
            </div>
            <div class="product-item-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                    <path d="M13 7H7V5H13V7Z" fill="currentColor" />
                    <path d="M13 11H7V9H13V11Z" fill="currentColor" />
                    <path d="M7 15H13V13H7V15Z" fill="currentColor" />
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M3 19V1H17V5H21V23H7V19H3ZM15 17V3H5V17H15ZM17 7V19H9V21H19V7H17Z"
                          fill="currentColor" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                          fill="currentColor" />
                    <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                    <path d="M13 9H15V17H13V9Z" fill="currentColor" />
                </svg>
            </div>
        </div>
    </div>
    count++;
}
